<form>
    <span class="container-input">
        <input type="text" name="" required placeholder="inserisci il tuo nome e cognome" class="input-item">
        <input type="email" name="" required placeholder="inserisci la tua email" class="input-item">
        <input type="date" name="" required class="input-item">
        <input type="tel" name="" required placeholder="inserisci il tuo numero di telefono" class="input-item">
        <button (click)="additem">add</button>
    </span>       
</form>
<app-table></app-table>